<table id ="videogameslist" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" class="table table-bordered table-hover table-sm" >
    <thead class="thead-dark">
      <tr>
        <th data-visible="false">ID</th>
        <th >Videogame Title</th>
        <th >Publisher</th>
        <th >Genere</th>
        <th >Platform</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let videogame of videogames">
        <td data-visible="false">{{ videogame.videogameId }}</td>
        <td>{{ videogame.videogameName }}</td>
        <td>{{ videogame.publisherName }}</td>
        <td>{{ videogame.genere }}</td>
        <td>{{ videogame.platform }}</td>
        <td><button render="renderer" id="editbutton" (click)="editbuttonclicked(videogame.videogameId )" class="btn btn-primary">Edit</button></td>
      </tr>
    </tbody>
  </table>